NEXTAUTH_URL=http://localhost:3000/api/auth

AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev
DATABASE_URL=""

NEXT_PUBLIC_API_URL=http://localhost:3030/api/v1
NEXT_PUBLIC_BASE_URL=http://localhost:3000

AZURE_OPENAI_BASE_URL=
AZURE_OPENAI_DEPLOYMENT_NAME=
AZURE_OPENAI_RESOURCE_NAME=
AZURE_OPENAI_API_KEY=
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_API_KEY=